<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Payslip Calculator</a>
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link" href="#">
            Calculator
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Batch
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Config
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/e10101/myob-payslip">
            Github
          </a>
        </li>
      </ul>
    </nav>
  </div>
</nav>

<div class="container">
  <!-- Content -->
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Calculator</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero excepturi voluptatum quas
      voluptate nam fugit numquam dolor fugiat itaque reiciendis id corrupti aspernatur ea quibusdam, provident
      expedita architecto tempore quaerat.</p>
  </div>

  <!-- Footer -->
</div>
